<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Basay.Vrata">
    <!-- говорим о том что хотим универсальное приложение а не только на TV -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <!-- говорим что нам не обязателен touchscreen -->
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />
    <!-- говорим о том, что локация нам не обязательна -->
    <uses-feature
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <!-- говорим о том, что функции телефона тоже не обязательны -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <!-- говорим о том, что микрофон нам не обязателен -->
    <uses-feature
        android:name="android.permission.RECORD_AUDIO"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/vrata_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vrata_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vrata"
        android:networkSecurityConfig ="@xml/network_security_config"
        android:usesCleartextTraffic="true"

        >
        <activity android:name="com.Basay.Vrata.MainActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- для голосового управления -->
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fit-actions.firebaseapp.com"
                    android:scheme="https" />
            </intent-filter>


        </activity>
        <!-- MI BOX S -->
        <activity
            android:name="com.Basay.Vrata.MiBoxSActivity"
            android:theme="@style/MiBoxTheme"
            android:banner="@mipmap/banner"
            android:noHistory="true">
            <intent-filter>
                <!-- для работы на TV -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- для голосового управления -->
        <meta-data android:name="com.google.android.actions" android:resource="@xml/actions" />
    </application>

</manifest>